.header {
  display: flex;
  width: 1920px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #9e0b37 0%, #ffc531 72%, #9e0b37 100%);
}
.container {
  display: flex;
  width: 437px;
  justify-content: space-between;
  margin-left: 250px;
}
.logInBtn {
  margin-left: 730px;
  background: none;
  color: white;
  font-size: 16px;
  border: none;
}
.regBtn {
  margin-right: 250px;
  background: #9e0b37b3;
  border-radius: 40px;
  box-shadow: inset 4px 4px 6px 0 rgba(255, 255, 255, 0.5);
  color: #ffffff;
  font-size: 17px;
  margin-left: 1px;
  user-select: none;
  padding: 12px 25px;
  border: none;
}
.navBtns {
  background: none;
  color: white;
  font-size: 16px;
  border: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: blue;
}
